<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./layout.css'>
    <title>Document</title>
</head>

<body>
    <section id='template1'>
        <img class='image image1' src='https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg' alt='alt tag for image 1'>
        <article>
            <h1>
                Lorem Ipsum
            </h1>
            <p>
                We used to set the top and left values of child element after positioning to complete the centering. In
                fact, there is a simpler way, which is to set the margin property of the child element to auto.
                According to the rules of CSS, the value of the top and bottom margin of the child element will be
                equal, and the value of the left and right margin will be equal, so the child element will be centered
                naturally.

            </p>
        </article>
    </section>
    <section id='template2'>

    </section>
    <section id='template3'>

    </section>
    <section id='template4'>

    </section>
    <section id='template5'>

    </section>
</body>

</html>